*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header,
section{
    overflow-x: hidden;
}
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;    
}
/* navbar */
.navbar-toggler{
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
    }
    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus{
        outline: none;
        box-shadow: none;
        border: 0;
    }
    .navbar-toggler span{
        margin: 0;
        top: 1;
    }
    .toggler-icon{
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 1px;
        background-color: white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .middle-bar{
        margin-top: 0px;
    }
    .navbar-toggler .top-bar{
        margin-top: 0px;
        transform: rotate(135deg);
    }
    .navbar-toggler .middle-bar{
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .navbar-toggler .bottom-bar{
        margin-top: 0px;
        transform: rotate(-135deg);
    }
    .navbar-toggler.collapsed .top-bar{
        margin-top: -10px;
        transform: rotate(0deg);
    }
    .navbar-toggler.collapsed .middle-bar{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .navbar-toggler.collapsed .bottom-bar{
        margin-top: 10px;
        transform: rotate(0deg);
    }
    /* language */
    .goog-logo-link {
    display:none !important;
    } 
    .goog-te-gadget {
        color: transparent !important;
    }
    .goog-te-banner-frame.skiptranslate {
        display: none !important;
    }
  